.container{
    display: flex;
    justify-content: center;
}

.about-on-main  {
    text-align: left;
    margin: 50px 100px 5px
}

.highlightClassName {
    background-color: plum;
}

.colorloanword {
  background-color: cornflowerblue;
}
.colorobscene {
  background-color: indianred;
}
.colorexpressive {
  background-color: yellow;
}
.colorloanwordobscene {
  background-color: violet;
}
.colorloanwordexpressive {
  background-color: green;
}
.colorobsceneexpressive {
  background-color: orange;
}

.indicator {
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin-right: 16px;
}

.indicator.cornflowerblue {
    background-color: cornflowerblue;
}

.indicator.indianred {
    background-color: indianred;
}

.indicator.yellow {
    background-color: yellow;
}

.indicator.violet {
    background-color: violet;
}

.indicator.green {
    background-color: green;
}

.indicator.orange {
    background-color: orange;
}

.legend {
    display: flex;
}